@import url('https://fonts.googleapis.com/css?family=Courier+Prime&display=swap');

.container {
  background-color: #151965;

  .nav-width {
    max-width: 1125px;
    margin: auto;

    .logo {
      font-family: 'Courier Prime', monospace;
      font-weight: 700;
      font-style: italic;
    }
  }

  .nav-space {
    padding: 0 14px;
  }

  .nav-spacer {
    flex: 1 1 auto;
  }

  a {
    text-decoration: none;
    color: white;
  }
}
