.container {
  background-color: #151965;

  .nav-width {
    max-width: 1125px;
    margin: 0px auto;

    .logo {
      img {
        width: 140px;
      }
    }
  }

  .nav-space {
    padding: 0 14px;
  }

  .nav-spacer {
    flex: 1 1 auto;
  }

  a {
    text-decoration: none;
    color: white;
  }
}
