<mat-toolbar class="container">
  <mat-toolbar-row class="nav-width">

    <a class="logo" routerLink="/">My Chat</a>
    <span class="nav-spacer"></span>
    <a class="nav-space" style="font-size: 14px;" routerLink="/user/login" >Login</a>
    <a class="nav-space" style="font-size: 14px;" routerLink="/user/signup">Sign Up</a>
    <a 
    class="nav-space" 
    style="font-size: 14px; cursor: pointer;" 
    *ngIf="authService.handleProtectPage()" 
    (click)="authService.handleLogout()">
    Logout
    </a>

  </mat-toolbar-row>
</mat-toolbar>