div {
  .width-image {
    position: absolute;
    height: 550px;
    width: 100%;
    z-index: -10;
  }

  .chat-overflow {
    overflow: auto;
    height: 530px;
  }


  .width-buble {
    padding: 5px;
    max-width: 480px;
  }
  
  .width-buble-user {
    padding: 5px;
    max-width: 480px;
  }
  
}
