.width-image {
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 568px;
  overflow: auto;
  position: absolute;
  z-index: -4;
}

.c-msg {
  overflow: auto;
  height: 529px;  
}

.width-buble {
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  .chat-msg {
    max-width: 480px;
  }
}

.width-buble-user {
  padding: 5px;
  display: flex;
  justify-content: flex-end;
  .chat-msg {
    max-width: 480px;
  }
}



@media only screen and (min-height : 768px) {
  .width-image {
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 702px;
    overflow: auto;
  }
}
