div {

  .c-bcg-side {

    img {
      position: absolute;
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 569px;
      z-index: -4;
    }
  }

  .c-side-container {
    padding: 15px;
    overflow: auto;
    height: 530px;
  }

  .text-chat {
    max-width: 400px;
    background: blue;
    padding: 15px;
    border-radius: 5px;
    margin: 10px;
    p {
      margin: 0px;
    }
  }


  .text-chat-2 {
    max-width: 400px;
    background: rgb(31, 155, 0);
    padding: 15px;
    border-radius: 5px;
    margin: 10px;
    display: flex;
    justify-content: flex-end;
    p {
      margin: 0px;
    }

  }


}
