div {
  .msg-form {
    div {
      display: flex;
      position: absolute;
      z-index: 10;
      bottom: 0px;
      width: 100%;
      
      input {
        width: 100%;
        border-radius: 0px;
        height: 27px;
        font-size: 16px;
        padding: 5px;
        outline: none;
      }

      button {
        padding: 0px 20px;
        border-radius: 0px;
      }
    }
  }

  .d-none {
    display: none;
  }
}