div {
  .msg-form {
    div {
      display: flex;
      position: absolute;
      z-index: 10;
      top: 528px;
      width: 100%;
      input {
        width: 96%;
        border-radius: 0px;
      }

      button {
        padding: 0px 20px;
        border-radius: 0px;
      }
    }
  }
}