<div class="text-form">
  <form 
  class="msg-form" 
  #form="ngForm"
  (ngSubmit)="sendText(form)" 
  >
    <div>
      <input 
      type="text"
      autocomplete="off" 
      placeholder="Write a message"
      ngModel
      name="content"
      (keydown)="handleSendText($event)"
      >
      <input
      type="number"
      class="d-none"
      ngModel 
      value=""
      name="room_id"
      (keydown) = "handleSendText($event)"
      >
      <button 
      type="submit" 
      class="btn btn-primary btn-sm"
      >
      <i class="far fa-paper-plane"></i>
      </button>
    </div>
  </form>
</div>