.lo-container {
  align-items: center;
  height: 100vh;

  .form-card {
    width: 360px;
    padding: 20px;
    .logo {
      margin: 10px auto;
      img {
        width: 150px;
      }
    }

    form {

      .form-style {
        display: inline;

        input {
          width: 100%;
        }
      }
    }
  }


}
