.container {
  width: 440px;
  margin: auto;
  padding: 50px;

  .myCard {

    mat-card-header {
      display: inline; 
      text-align: center;
  
      h2 {
        font-weight: 400;
        margin: 15px auto;
      }
    }

    min-height: 450px;
    height: auto;
    padding: 30px;

    .logo {
      text-align: center;

      img {
        width: 140px;
        margin: 0px auto;
      }
    }

    .form-style {
      display: inline;

      input {
        width: 100%;
      }
    }

    .footer-login {
      display: flex;
      justify-content: space-between;
      padding: 0px 20px;

      a {
        color: #fff;
        text-decoration: none;
        font-family: monospace;
      }
    }

  }
}
