<div>
  <app-navbar></app-navbar>
</div>

<div class="bg-color-1">
  <div class="container">
    <div class="row  center-form ">
      <div class="col-md-6 mb-4">
        <div class="card">

          <div class="card-body">
            <h3 class="text-center default-text py-1"> Sign Up</h3>
            <div *ngIf="isLoading" style="text-align: center;">
              <app-loading></app-loading>
            </div>
            <div class="alert alert-dismissible alert-danger" *ngIf="error">
                <strong>Something went wrong</strong> and try submitting again.
            </div>
            <form 
            #form="ngForm" 
            (ngSubmit)="signUpUsers(form)" 
            *ngIf="!isLoading">
            <div class="md-form space-form">
                <label>Name</label>
                <input 
                type="text" 
                class="form-control" 
                placeholder="Kiera Considine"
                ngModel
                name="name"
                required
                >
              </div>
              <div class="md-form space-form">
                <label>Email</label>
                <input 
                type="email" 
                class="form-control" 
                placeholder="mychat@email.com"
                ngModel
                name="email"
                required
                email
                >
              </div>
              <div class="md-form space-form">
                <label>Password</label>
                <input 
                type="password" 
                class="form-control" 
                placeholder="*********" 
                required
                ngModel
                name="password"
                required
                >
              </div>
              <div class="text-center py-2">
                <button 
                type="submit" 
                class="btn btn-primary btn-sm"
                [disabled]="!form.valid"
                >
                  Sign Up
                </button>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
