.container {
  max-width: 1125px;
  margin: 0px auto;

  .center-image {
    display: flex;
    justify-content: center;
  }

  .top-4 {
    margin-top: 2.5em;
  }
}

.image--cover {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.table-width {
  max-width: 500px;
  text-align: center;
  margin: auto;

  .table {
    margin: 20px auto;
    
    tr {
      th {
        padding: 10px 20px;
        border-bottom: black 1px solid;
        font-size: 14px;
      }

      td {
        padding: 10px;
      }
    }
  }

}