<div>
  <div>
    <app-navbar></app-navbar>
  </div>

  <div class="container">
    <label class="d-flex justify-content-center" 
    for="img-input" 
    style="cursor: pointer;">
      <div 
      class="mt-4" 
      *ngIf="!previewUrl && picture === ''">
        
      <img 
        src="../../../../assets/e73877aee5b14670b927bea6dd16996f.jpg" 
        class="image--cover">
      
      </div>
      
      <div 
      class="mt-4" 
      *ngIf="previewUrl">

        <img 
        [src]="previewUrl" 
        class="image--cover">

      </div>

      <div 
      class="mt-4" 
      *ngIf="picture !== '' && !previewUrl">

        <img 
        [src]="pictures" 
        class="image--cover">
        
      </div>
    
    </label>

    <h2 style="text-align: center;" class="py-3">{{ users.name }}</h2>

    <div class="d-flex justify-content-center">
      <div class="form-group" style="display: none;">
        <input type="file" name="image" id='img-input' (change)="uploadImage($event)" />
      </div>
      <div class="form-group" *ngIf="users.id === myIdCheck">
        <button 
        class="btn btn-primary btn-sm" 
        (click)="onSubmit()">
        Change Picture
      </button>
      </div>
    </div>



    <div class="table-width">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">User</th>
            <th scope="col">Biodata</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Name</td>
            <td (ngModelChange)="users.name">{{ users.name }} </td>
          </tr>
          <tr>
            <td>Email</td>
            <td>{{ users.email }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
