<div class="container">
  <h1 mat-dialog-title>Add user to room</h1>
  <hr>
  <form
  #form="ngForm" 
  (ngSubmit)="handleAddUser(form)"
  >
    <div mat-dialog-content>
      <p>Please choosee ID user and room</p>
      <div>
        <mat-form-field class="form-add">
          <input 
          matInput 
          type="number" 
          placeholder="Room id"
          ngModel
          name="room_id"
          required
          >
        </mat-form-field><br>
        <mat-form-field class="form-add">
          <input 
          matInput 
          type="number" 
          placeholder="User id"
          ngModel
          name="user_id"
          required
          >
        </mat-form-field>
      </div>
    </div>
    <div mat-dialog-actions>
      <button 
      mat-button 
      mat-dialog-close
      >
      No Thanks
    </button>
      <button 
      mat-button 
      type="submit" 
      mat-dialog-close
      [disabled]="!form.valid"
      >
      Add +
    </button>
    </div>
  </form
  >
</div>
