<div>
  <app-navbar></app-navbar>

  <div class="container-fluid">
    <div class="row">
      <div class="col-4 bg-info text-white p-3">
        <app-sidenav></app-sidenav>
      </div>
      <div class="col-8 no-gutters">
        <div>
          <app-chat-side 
          [sender]="myMessageList"
          isLoading="isLoading">
        </app-chat-side>
        </div>
        <div>
          <app-form (myMessage)="myMessage($event)"></app-form>
        </div>
      </div>
    </div>
  </div>
</div>
