<div class="side-container">
  <mat-sidenav-container fullscreen>
    <mat-sidenav opened mode="side" class="hide-side">
      <div class="navbar-side">
        <mat-toolbar color="primary">
          <div class="logo">
            <a routerLink="/"> <img src="../../../../assets/Logo1.png" alt="logo" /></a>
          </div>
        </mat-toolbar>
      </div>
      <div class="side-list">
        <div>
          <div>
            <button mat-button (click)="openDialog(myTemplate)" style="padding: 0px 10px 0px 10px; margin: 5px 10px;">
              + Invite User
            </button>

            <ng-template #myTemplate>
              <h1 mat-dialog-title>Add user to room</h1>
              <hr>
              <form
              #form="ngForm" 
              (ngSubmit)="handleAddUser(form)"
              >
                <div mat-dialog-content>
                  <p>Please choosee ID user and room</p>
                  <div>
                    <mat-form-field class="form-add">
                      <input 
                      matInput 
                      type="number" 
                      placeholder="Room id"
                      ngModel
                      name="room_id"
                      required
                      >
                    </mat-form-field><br>
                    <mat-form-field class="form-add">
                      <input 
                      matInput 
                      type="number" 
                      placeholder="User id"
                      ngModel
                      name="user_id"
                      required
                      >
                    </mat-form-field>
                  </div>
                </div>
                <div mat-dialog-actions>
                  <button 
                  mat-button 
                  mat-dialog-close
                  >
                  No Thanks
                </button>
                  <button 
                  mat-button 
                  type="submit" 
                  mat-dialog-close
                  [disabled]="!form.valid"
                  >
                  Add +
                </button>
                </div>
              </form
              >
            </ng-template>
              

          </div>
          
          <mat-list>
            <h3 mat-subheader>
              <mat-icon aria-hidden="false" aria-label="Example home icon" style="margin-right: 5px;">people</mat-icon>
              User List
            </h3>
            <mat-list-item *ngFor="let roomMember of memberRoom" style="height: 20px;">
              <p mat-line style="font-size: 14px;">
                <mat-icon aria-hidden="false" aria-label="Example home icon" style="font-size: 12px;">
                  radio_button_unchecked</mat-icon>{{roomMember.user.name}}
              </p>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="navbar-content">
        <mat-sidenav-container fullscreen>
          <mat-sidenav [(opened)]="opened">
            <div class="navbar-side">
              <mat-toolbar color="primary">
                <div>
                  <button mat-icon-button style="padding: 0px; margin: 0px 10px;" (click)="opened = !opened">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_back</mat-icon>
                  </button>
                </div>
                <div class="logo">
                  <img src="../../../../assets/Logo1.png" alt="logo" />
                </div>
              </mat-toolbar>
            </div>

            <div>

              <div>
                <button mat-button (click)="openDialog(myTemplate)" style="padding: 0px 10px 0px 10px; margin: 5px 10px;">
                  + Invite User
                </button>
    
                <ng-template #myTemplate>
                  <h1 mat-dialog-title>Add user to room</h1>
                  <hr>
                  <form
                  #form="ngForm" 
                  (ngSubmit)="handleAddUser(form)"
                  >
                    <div mat-dialog-content>
                      <p>Please choosee ID user and room</p>
                      <div>
                        <mat-form-field class="form-add">
                          <input 
                          matInput 
                          type="number" 
                          placeholder="Room id"
                          ngModel
                          name="room_id"
                          required
                          >
                        </mat-form-field><br>
                        <mat-form-field class="form-add">
                          <input 
                          matInput 
                          type="number" 
                          placeholder="User id"
                          ngModel
                          name="user_id"
                          required
                          >
                        </mat-form-field>
                      </div>
                    </div>
                    <div mat-dialog-actions>
                      <button 
                      mat-button 
                      mat-dialog-close
                      >
                      No Thanks
                    </button>
                      <button 
                      mat-button 
                      type="submit" 
                      mat-dialog-close
                      [disabled]="!form.valid"
                      >
                      Add +
                    </button>
                    </div>
                  </form
                  >
                </ng-template>
                  
    
              </div>

              <mat-list>
                <h3 mat-subheader>
                  <mat-icon aria-hidden="false" aria-label="Example home icon" style="margin-right: 5px;">people
                  </mat-icon>
                  User in My Room
                </h3>
                <mat-list-item *ngFor="let roomMember of memberRoom" style="height: 20px;">
                  <p mat-line style="font-size: 14px;">
                    <mat-icon aria-hidden="false" aria-label="Example home icon" style="font-size: 12px;">
                      radio_button_unchecked</mat-icon>{{roomMember.user.name}}
                  </p>
                </mat-list-item>
              </mat-list>
            </div>
          </mat-sidenav>
          <mat-sidenav-content class="hide-side-mobile">
            <mat-toolbar color="primary">
              <div>
                <button class="menu" mat-icon-button style="padding: 0px; margin: 0px 10px;" (click)="opened = !opened">
                  <mat-icon aria-hidden="false" aria-label="Example home icon">menu</mat-icon>
                </button>
              </div>
              <div *ngFor="let roomMember of memberRoom">
                <h4 *ngIf="roomMember.user_id === myIdCheck">{{roomMember.user.name}}</h4>
              </div>
              <span class="spacer"></span>
              <div>
                <button mat-button style="padding: 0px 15px 0px 0px; margin: 5px 10px;" [matMenuTriggerFor]="menu">
                  <mat-icon aria-hidden="false" aria-label="Example home icon">more_vert</mat-icon>
                  Room
                </button>

                <mat-menu #menu="matMenu">
                  <button mat-menu-item *ngFor="let room of myListRoom" (click)="roomNav(room.id)">
                    {{room.room_name}}
                  </button>
                </mat-menu>

              </div>
            </mat-toolbar>
            <div>
              <app-chat-side [sender]="myMessageList"></app-chat-side>
            </div>
            <div>
              <app-form (myMessage)="myMessage($event)"></app-form>
            </div>
          </mat-sidenav-content>
        </mat-sidenav-container>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
