.navbar-room {

  .btn-desktop {

    @media only screen and (max-width: 599px) {
      display: none;
    }
  }

  .btn-mobile {
    display: none;

    @media only screen and (max-width: 599px) {
      
      display: unset;
    }
  }

  .logo {
    img {
      width: 40%;
      margin-top: 15px;
      margin-left: 10px;
    }
  }

  .spacer {
    flex: 1 1 auto;
  }

  .avatar {
    img {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      object-position: center;
      object-fit: cover;
    }
  }
}



.sidenav-room {
  .container-side {
    height: calc(100vh - 64px);

    @media only screen and (max-width: 599px) {
      
      height: calc(101vh - 62px);
    }

    #sidenav {
      width: 250px;

      @media only screen and (max-width: 599px) {
        display: none;
      }
    }

    #sidenav.menu-close {
      width: 65px;
    }

    #sidenav.menu-open {
      width: 250px;
    }
  }

  .my-list {
    .room-style {
      padding: 15px 0px;
      mat-icon {
        font-size: 18px;
      }
      mat-list-item {
        font-size: 12px;
        height: 0px;
      }
    }

    .avatar1 {
      display: flex;
      align-items: center;

      h4 {
        font-size: 14px;
        font-weight: 500;
      }

      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-position: center;
        object-fit: cover;
        margin-right: 18px;
      }
    }

    .avatar-style {
      mat-list-item {
        .avatar {
          display: flex;
          align-items: center;
          h4 {
            font-size: 14px;
            font-weight: 500;
          }
          img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-position: center;
            object-fit: cover;
            margin-right: 18px;
          }
        }
      }
    }
  }

  .mobile-sidenav {
    width: 100%;
    display: none;
  }

  @media only screen and (max-width: 599px) {
    .mobile-sidenav {
      display: unset;
    }
  }
}