<div>
  <app-navbar></app-navbar>
</div>
<div>
  <mat-sidenav-container class="r-chat-container">
    <mat-sidenav class="chat-side" mode="side" opened>
      <div *ngFor="let roomMember of memberRoom">
        <div class="user">
          <p><i class="fas fa-circle"></i> {{roomMember.user.name}} </p>
        </div>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <div>
        <app-chat-side
        [sender]="myMessageList"
        ></app-chat-side
          >
      </div>
      <div>
        <app-form (myMessage)="myMessage($event)"></app-form>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
