.home-container {

  .side-container {
    height: calc(100vh - 64px);

    .side-card {
      width: 300px;
      

      .style-card {
        background-color: #262626;
        
        .avatar {
          img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-position: center;
            object-fit: cover;
          }
        }
      }

      .list-container {


        .style-list {
          cursor: pointer;

          mat-icon {
            font-size: 18px;
          }
          mat-list-item {
            font-size: 14px;
            height: 30px;
          }
        }
      }

    }

    .content-container {
      padding: 0px 20px;
    }
  }
}