.h-container {
  color: #000;
  padding: 20px;
  margin: 0px auto;

  .h-list {
    color: rgb(255, 255, 255);
    margin-top: 20px;

    .h-list-container {
      height: 342px;
      overflow: auto;
    }

    .gridUser {

      .grid-style {
        background-color: #b8b2b2;

        .profile-image {
          padding: 10px 10px;
          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
            margin-right: 10px;
          }
        }

        mat-grid-tile-footer {
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }

  .h-tab2 {
    max-width: 1125px;
  }

  .spinner {
    display: flex;
    justify-content: center;
  }


}
