<div class="h-container">
  <mat-tab-group class="h-list">
    <mat-tab label="User" class="h-tab1">

      <h1 style="margin: 10px 0px;">List User</h1>

      <button mat-raised-button style="margin: 5px 0px 20px" (click)="openDialog()">
        Add User <mat-icon>person_add</mat-icon>
      </button>
      
      <div class="h-list-container">
        <mat-grid-list 
        [cols]="breakpoint" 
        rowHeight="200" 
        (window:resize)="onResize($event)" 
        gutterSize="10px" 
        class="gridUser"
        >

        <div  *ngFor="let user of users" >
          <mat-grid-tile class="grid-style">

            <mat-grid-tile-header class="profile-image">
              <div *ngIf="user.profile_picture !== ''">
                <img src={{user.profile_picture}} alt="profile">
              </div>
              <div *ngIf="user.profile_picture === ''">
                <img src="../../../../assets//e73877aee5b14670b927bea6dd16996f.jpg" alt="profile">
              </div>
              <span><h3>{{user.name}}</h3></span>
            </mat-grid-tile-header>
              <p style="color: white;">User ID: {{user.id}}</p>
            <mat-grid-tile-footer>
              <button mat-button (click)="detailUser(user.id)"  >View</button>
            </mat-grid-tile-footer>

          </mat-grid-tile>
        </div>

        </mat-grid-list>


      </div>


    </mat-tab>
    <mat-tab label="Room" class="h-tab2">

      <h1 *ngIf="!authService.handleProtectPage()" style="text-align: center; font-weight: 400;">Please Login...</h1>
      <div *ngIf="authService.handleProtectPage()">
      <h1 style="margin: 10px 0px;">List Room</h1>

      <button mat-raised-button (click)="openCreateRoom()" style="margin: 5px 0px 20px">
        Create Room <mat-icon>add</mat-icon>
      </button>
      <div class="spinner" *ngIf="navigateRoom">
        <mat-spinner diameter="30"></mat-spinner>
        <p style="margin: 5px 0px 0px 20px;">Please Wait...</p>
      </div>

      <div class="h-list-container">
        <mat-grid-list 
        [cols]="breakpoint" 
        rowHeight="200" 
        (window:resize)="onResize($event)" 
        gutterSize="10px" 
        class="gridUser"
        >

        <div  *ngFor="let room of myListRoom" >
          <mat-grid-tile class="grid-style">

            <mat-grid-tile-header class="profile-image">
              <h3>{{room.room_name}}</h3>
            </mat-grid-tile-header>
              <p style="color: white;">Room ID: {{room.id}}</p>
            <mat-grid-tile-footer>
              <button mat-button (click)="myChatRoom(room.id)"  >Enter Room</button>
            </mat-grid-tile-footer>

          </mat-grid-tile>
        </div>

        </mat-grid-list>

      </div>

    </div>
    </mat-tab>
  </mat-tab-group>
</div>
