.h-container {
  color: #000;
  max-width: 1125px;
  margin: 0px auto;

  .h-list {
    color: #000;
    margin-top: 20px;

    /* Styles for tab labels */
    .mat-tab-label {
      color: rgb(0, 0, 0);
      font-weight: 700;
    }

    /* Styles for the active tab label */
    .mat-tab-label.mat-tab-label-active {
      color: rgb(41, 52, 151);
      font-weight: 700;
    }

    .mat-ink-bar {
      background-color: green;
    }

    .h-tab1 {
      max-width: 1125px;
    }

    .h-list-container {
      height: 330px;
      overflow: auto;
    }

    table {
      width: 100%;
    }
  }

  .h-tab2 {
    max-width: 1125px;
  }

  .h-room-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0px auto;

    .h-room {
      max-width: 400px;
      margin: 10px;
    }
  }
}
