<div class="h-container">
  <mat-tab-group class="h-list">
    <mat-tab label="User" class="h-tab1">

      <button 
      mat-raised-button 
      style="margin: 15px 0px 10px" 
      (click)="openDialog()">
        Add User 
        <mat-icon>person_add</mat-icon>
      </button>

      <hr>

      <div 
      class="h-list-container">
        <mat-grid-list 
        [cols]="breakpoint" 
        rowHeight="200" 
        (window:resize)="onResize($event)" 
        gutterSize="10px">

          <div *ngFor="let user of users">
            <mat-grid-tile class="color-change">

              <mat-grid-tile-header class="profile-image">

                <div *ngIf="user.profile_picture !== ''">
                  <img src={{user.profile_picture}} alt="profile">
                </div>
                <div *ngIf="user.profile_picture === ''">
                  <img src="../../../../assets//e73877aee5b14670b927bea6dd16996f.jpg" alt="profile">
                </div>
                <span>
                  <h3>{{user.name}}</h3>
                </span>
              </mat-grid-tile-header>
              <p style="color: white;">User ID: {{user.id}}</p>
              <mat-grid-tile-footer>
                <button mat-button (click)="detailUser(user.id)">View</button>
              </mat-grid-tile-footer>

            </mat-grid-tile>
          </div>

        </mat-grid-list>

      </div>

    </mat-tab>
    <mat-tab label="Room" class="h-tab2">

      <h1 
      *ngIf="!authService.handleProtectPage()" 
      style="text-align: center; font-weight: 400;">
        Please Login...
      </h1>
      
      <div *ngIf="authService.handleProtectPage()">

        <button 
        mat-raised-button 
        (click)="openCreateRoom(myTemplate)" 
        style="margin: 15px 0px 10px">
          Create Room 
          <mat-icon>add</mat-icon>
        </button>

        <ng-template #myTemplate>
          <h1 mat-dialog-title>Add user to room</h1>
          <hr>
          <form
          #form="ngForm" 
          (ngSubmit)="handleNewRoom(form)"
          >
            <div mat-dialog-content>
              <p>Please choosee ID user and room</p>
              <div>
                <mat-form-field class="form-add">
                  <input 
                  matInput 
                  type="text" 
                  placeholder="Room name" 
                  ngModel 
                  name="room_name" 
                  required
                  >
                </mat-form-field><br>
              </div>
            </div>
            <div mat-dialog-actions>
              <button 
              mat-button 
              mat-dialog-close
              >
              No Thanks
            </button>
              <button 
              mat-button 
              type="submit" 
              mat-dialog-close
              style="margin: 10px 0px;"
              [disabled]="!form.valid"
              >
              Add +
            </button>
            </div>
          </form
          >
        </ng-template>
        
        <hr>

        <div 
        class="spinner" 
        *ngIf="navigateRoom">
          <mat-spinner diameter="30"></mat-spinner>
          <p style="margin: 5px 0px 0px 20px;">
            Please Wait...
          </p>
        </div>

        <div class="h-list-container">

          <mat-grid-list 
          [cols]="breakpoint" 
          rowHeight="200" 
          (window:resize)="onResize($event)" 
          gutterSize="10px">

            <div *ngFor="let room of myListRoom">
              <mat-grid-tile  class="color-change">

                <mat-grid-tile-header>
                  <h3>{{room.room_name}}</h3>
                </mat-grid-tile-header>
                <p 
                style="color: white;">
                Room ID: {{room.id}}
                </p>
                <mat-grid-tile-footer>
                  <button 
                  mat-button 
                  (click)="myChatRoom(room.id)"
                  style="padding: 0px 10px;"
                  >
                  Enter Room
                  </button>
                </mat-grid-tile-footer>

              </mat-grid-tile>
            </div>

          </mat-grid-list>

        </div>

      </div>
    </mat-tab>
  </mat-tab-group>
</div>
