<div>
  <div class="container">
    <div class="py-4">
      <tabset>
        <tab heading="User" id="tab1">
          <h1 class="py-2">List User</h1>
          <button (click)="openModal(adduser1)" class="text-center" style="font-size: 14px;"> 
              Add user 
          <i class="fas fa-user-plus" style="font-size: 14px;"></i>
          </button>

        <ng-template #adduser1>
            <div class="modal-header">
              <h4 class="modal-title pull-left">Add user room</h4>
              <button 
              type="button" 
              class="close pull-right" 
              aria-label="Close" 
              (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <input 
                type="number" 
                class="form-control mb-3" 
                placeholder="Room id" 
                [(ngModel)]="addUserRoom.room_id"  
                name="room_id">
                <input 
                type="number" 
                class="form-control my-3" 
                placeholder="User id" 
                [(ngModel)]="addUserRoom.user_id"  
                name="user_id">
                <button 
                type="submit" 
                class="btn btn-primary btn-sm my-3" 
                (click)="handleAddUser()"
                > 
                + User
                </button>
              </form>
            </div>
          </ng-template>

          <hr class="py-1">
          <div class="table-wrapper-scroll-y my-custom-scrollbar">
          <table class="table table-bordered table-striped mb-0">
            <thead>
              <tr class="bg-dark text-white">
                <th scope="col">No</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col" class="text-center">User (ID)</th>
              </tr>
            </thead>
            <tbody *ngFor="let user of users; let i = index">
              <tr class="table-secondary">
                <th scope="row">{{ i+1 }}</th>
                <td> {{user.name}} </td>
                <td>{{ user.email }}</td>
                <td class="text-center" > {{user.id}} </td>
              </tr>
            </tbody>
          </table>
        </div>
        </tab>
        <tab heading="Chat Room">
          <h3 
          *ngIf="!authService.handleProtectPage()" 
          class="py-4" 
          style="text-align: center;"
          >Please Login...
        </h3>
          <div *ngIf="authService.handleProtectPage()">
            <div>
              <h1 class="py-2">List Room</h1>
              <button 
              type="button" 
              class="btn btn-primary" 
              (click)="openModal(template)">
              Create Room 
              <i class="fas fa-plus px-1" style="font-size: 12px;"></i>
              </button>

              <ng-template #template>
                <div class="modal-header">
                  <h4 class="modal-title pull-left">Create your room now...</h4>
                  <button 
                  type="button" 
                  class="close pull-right" 
                  aria-label="Close" 
                  (click)="modalRef.hide()">
                  <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form
                  #form ="ngForm"
                  (ngSubmit)="handleNewRoom(form)" 
                  >
                    <input 
                    type="text" 
                    class="form-control" 
                    placeholder="Room name" 
                    ngModel  
                    name="room_name"
                    required
                    >
                    <button 
                    type="submit" 
                    class="btn btn-primary btn-sm" 
                    style="margin: 10px 0px;"
                    [disabled]="!form.valid"
                    >
                    + Room
                    </button>
                  </form>
                </div>
              </ng-template>

            </div>

            <hr class="py-1">

            <div class="container">
              <div class="row">

                <div 
                class="col-xs-12 col-sm-6 col-md-3" 
                *ngFor="let room of myListRoom">
                  <div class="box">
                    <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
                      <div 
                      class="card-header">
                      {{room.room_name}} | id: {{room.id}} 
                      </div>
                      <div class="card-body">
                        <h4 class="card-title">Create by Admin {{room.admin_id}}</h4>
                        <div class="modal-footer">
                          <button class="btn btn-secondary border btn-sm" (click)="myChatRoom(room.id)">Enter Room</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</div>
